.form-container{
    width:300px;
    margin:0 auto;
}
.page-title{
    text-align: center;
}
.mui-icon-star-filled {
    color: rgb(253, 175, 98);
}

html,body{
    font-size: 12px;
    font-family:"Arial";
	background-image:url('../images/Twilight.jpg');
    background-size:cover;
    background-attachment:fixed;
}